body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

h2, p {
  margin: 10px;
}

.original-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #38444d;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.original-nav li {
  float: left;
}

.original-nav li a, .original-nav .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.original-nav li a:hover, original-nav .dropdown:hover .dropbtn {
  background-color: red;
}

.original-nav li.dropdown {
  display: inline-block;
}

.original-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.original-nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.original-nav .dropdown-content a:hover {
  background-color: #ffc2c2;
}

.original-nav .dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .original-nav li {
    float: none;
    display: block;
    width: 100%;
  }

  .original-nav li a,
  .original-nav dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  .original-nav .dropdown {
    display: block;
    width: 100%;
  }

  .original-nav .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: #f9f9f9;
  }

  .original-nav .dropdown:hover .dropdown-content {
    display: block;
  }

  body {
    font-size: 16px;
    padding-top: 120px;
  }

  h2, p {
    margin: 15px;
  }
}