* { /*todos los elementos*/
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.principal{
	list-style: none;
	background-color: black;
	padding: 20px;
}

.principal li{
	position: relative;
	display: inline-block;
}

.principal li:hover ul{
	display: block;
}

.principal ul{
	display: none;
	position: absolute;
	top:100%;
	left:0;
	background-color: black;
}

.principal ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: lightgray;
}

.principal ul li a:hover{
	background-color: lightgray;
}

.principal li a{
	text-decoration: none;
	padding: 10px;
}