@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
	background-color: lightgray;
}

h1{
	border: 2px solid black;
	text-align: center;
	margin: 0 700px 0 700px;
	background-color: lightgreen;
	font-family: "Science Gothic", sans-serif;
}

h2{
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #17750F;
}

p{
	margin: 50px 50px 50px 50px;
	text-align: center;
	text-align: justify;
	font-size: 18px;
	font-family: "Playfair Display", serif;
	color: #690924;
}

th{
	padding-right: 100px;
}

table{
	margin: 20px auto;
	text-align: center;
	align-items: flex-end;
	gap: 30%;
}

.accesorios{
	margin: 20px auto;
	text-align: center;
	align-items: flex-end;
	gap: 30%;
	justify-content: center;
}

.hijo_accesorios img{
	height: 170px;
	width: 190px;
	border: 2px solid black;
}

button{
	border-color: black;
	background-color: red;
	font-family: "Open Sans";
	height: 35px;
	width: 85px;
	font-size: 20px;
	color: white;
}